/*body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("bg.jpg");
    background-size: cover;
    font-family: "Permanent Marker", cursive;
    font-weight: bold;
    text-align: center;
    min-height: 100vh;
    margin: 0;
}

.container{
    background: white;
    max-width: 80%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
}*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("bg.jpg");
    background-size: cover;
    font-family: "Permanent Marker", cursive;
    font-weight: bold;
    text-align: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background: white;
    width: 80%;                /* Maintain a good width percentage */
    min-height: 350px;             
    max-width: 300px;        /* Set a reasonable max-width */
    padding: 40px;           /* Add padding to create space inside */
    margin: 20px auto;       /* Add some top and bottom margin for spacing */
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Add a soft shadow for depth */
}


h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: blueviolet;
}

#save-btn {
    background: plum;
}

